.light-theme {
    background-color: $color-light;
    color: $color-bg-dark;
    .section-title {
        color: $color-bg-dark;
        &::before {
            background-color: $color-bg-dark;
        }
        span {
            background-color: $color-light;
        } 
    }
    .tabs__btn {
        border: 2px solid $color-primary;
        color: $color-bg-dark;
        background-color: $color-light;
        &:hover {
            color: $color-light;
            background-color: $color-primary;
        }
    }
    .tabs__btn.active {
        border: 2px solid $color-primary;
        color: $color-light;
        background-color: $color-primary;
    }
    .price-list__item {
        border: 3px solid $color-primary;
        .btn {
            color: $color-bg-dark;
            background-color: $color-primary;
            &:hover {
                color: $color-light;
            }
        }
    }
}