
.skill-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 1.8rem;
    &__item{
         width: 25%;
        text-align: center;
    }
    &__title {
        padding-bottom: 22px;
    }
    &__text {
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 0;
        padding-bottom: 9px;
    }
    &__img {
        margin: 0 auto;
        background-repeat: no-repeat;
        margin-bottom: 50px;
        height: 50px;
        &--camera {
            background-image: url('./../img/skills/camera.svg');
            width: 62px;
        }
        &--video {
            background-image: url('./../img/skills/video.svg');
            width: 60px;
        }
        &--images {
            background-image: url('./../img/skills/image.svg');
            width: 68px;
        }
        &--mic {
            background-image: url('./../img/skills/mic.svg');
            width: 32px;
        }
    }
}